// Default colour palette
$bb-color-primary: #44b8a6;
$bb-color-secondary: #9798d8;
$bb-color-default: #dde0e3;

// Sizes
$font-normal: 14px;
$font-big: 18px;

// Height
$height-tiny: 34px;
$height-normal: 44px;
$height-big: 60px;

// Padding
$padding-tiny: 10px;
$padding-normal: 20px;
$padding-big: 30px;

.bb-button {
  background-color: red;
}




